body{
    
font-size:20px;    
padding-top: 30px;    
    
}


#main{
    
    
 height: 500px;   
 border: solid gray 1px;
 border-radius: 5px;
 margin: 10px;    
 padding:10px;   
    
}

#leftColumn{
height: 500px;   
 border: solid gray 1px;
 border-radius: 5px;
 margin-top: 10px;    
     
}

.inputNumber{
    
    
 width:150px;   
    
    
}

#guessComputerRuleInput{
    
 font-size: 18px;
 width:90%;
    
    
}

#submitGuessComputerRule{
    
margin:10px;    
    
    
}

.enterValues{
    
 margin:10px;

    
    
}

.desmosRed{
   color:#C0504D;
}
.desmosBlue{
   color:#4F81BD;
}
.desmosGreen{
   color:#9BBB59;
}
.desmosPurple{
   color:#8064A2;
}